* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0;
    text-decoration: none;
    }

body {
    width: 100%;
}

.botaolindo {
    color: rgb(232,90,93);
    border-radius: 50px;
    height: max-content;
    margin-left: 210px;
    margin-top: 30px;
    margin-bottom: 20px;
    background-color: transparent;
  }

.botaolindo:hover {
    color: black;
}

.containerImoveis {
    width: 500px;
    border-radius: 25px;
    margin-top: 40px;
    margin-left: 25px;
}

.navbar-light .navbar-brand {
    color: rgb(232,90,93);
    margin-left: 15px;
}

.vyn {
    margin-left: 200px;
    color: rgb(232,90,93);
}

.ImovelContainer {
    margin-bottom: 15px;
}

.ImovelButton {
    width: 450px;
}

.welcome {
    margin-top: 20px;
    margin-bottom: 20px;
    color: rgb(232,90,93);
}

.mb-3 {
    margin-top: 30px;
    margin-bottom: 60px;
    width: 500px;
}

.dropButton {
    background-color: transparent;
    color: black;
    border: solid transparent;
    margin-left: 18.5%;
}

.dropButton:hover {
    background-color: transparent;
    color: black;
    border: solid transparent;
}

.main {
    margin-left:35%;    
}

.ImageButton {
    margin-bottom: 15px;
    margin-top: 15px;
    border-radius: 15px;
}

.price {
    margin-top: 17px;
}

.offers {
    color: rgb(232,90,93);
}

.cadastro {
    border: solid rgb(232,90,93);
    border-radius: 10px;
    border-width: 2px;
    margin-left: 8px;
}

.cad {
    color: rgb(232,90,93);
}

.teste {
    width: 100%;
}

.form {
    margin-bottom: 2%;
    margin-top: 1%;
    margin-left:70%;
}

.label {
    width: 25%;
    padding-right: 3%;
}

.espaco {
    padding-right: 3%;
}

.acomodacoes {
    width: 18%;
    padding-right: 3%;
}

.oferecimentos {
    width: 25%;
    padding-right: 3%;
}


.abulebule {
    width: 60%;
}

.pocoyo {
    padding-top: 2%;
    padding-bottom: 2%;
    color: rgb(112,112,113);
}

.form-control {
    border-radius: 100px;
}

.texto {
    padding-bottom: 1%;
}

.oferecimentosCadastro{
    flex-direction:row;
    display: flex;
    padding-bottom: 2%;
}

.oferecimentosLabel{
    padding-right: 2%;
    color: rgb(112,112,113);
}

.possui{
    padding-left: 1.2%;
    color: rgb(232,90,93);
}

.form-check-input:checked{
    background-color: #e85a5d;
    border-color: #e85a5d;
}

.form-check-input::after{
    box-shadow: #e85a5d;
}

.navredondal{
    border-top-right-radius: 18px;
    margin-right: 1%;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 18px;
    border-top-left-radius: 12px;
}

.navredondar{
    border-top-right-radius: 18px;
    margin-left: 1%;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 18px;
    border-top-left-radius: 12px;
}

.searchbar{
    width: 35%;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 18px;
    border-top-left-radius: 12px;
}

.outlined-secondary{
    border-radius: 100px;
}

.btn-success{
    margin-right:2%;
    margin-top:2%;
    border-radius: 20px;
}

.btn-danger{
    margin-left:2%;
    margin-top:2%;
    border-radius: 20px;
}